<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net4" userInstalled="true" />
  <package id="RobustHaven.IntegrationTests" version="1.1.2" targetFramework="net4" userInstalled="true" />
  <package id="Selenium.Support" version="2.40.0" targetFramework="net4" userInstalled="true" />
  <package id="Selenium.WebDriver" version="2.40.0" targetFramework="net4" userInstalled="true" />
</packages>